@import "tailwindcss";



@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@layer utilities {
  .animate-spotlight {
    animation: spotlight 2s ease 0.75s 1 forwards;
  }
}


@theme {
  --color-black-100:#000319;
  --color-black-200:"rgba(17, 25, 40, 0.75)";
  --color-black-300:"rgba(255, 255, 255, 0.125)";
}

@layer base {
  body {
    @apply select-none;
  }
}